*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    box-sizing: border-box;
}
body{
    height: 100vh;

}
.container{
    display: flex;
    align-items: center;

}
.weather-input{
    width: 40%;
    position: fixed;
    inset: 0;
    background-color: #78c1f3;
    padding: 1rem 2.5rem;
    
}
.input-group{
    position: relative;
    display: flex;
    align-items: center;
    margin: 2rem 0;
}
.input-group input{
    background: #f8f8f8;
    text-transform: capitalize;
    padding: 1rem;
    font-size: 15px;
    border-radius: 6px;
    width: 100%;
    outline: none;
    border: none;
}
.input-group .converter{
    position: absolute;
    right: 45px;
    border:1px solid white;
    outline: none;
    cursor: pointer;

    
}
.input-group .ri-search-line{
    position: absolute;
    right: 15px;
    color: #909090;
    cursor: pointer;
    font-size: 22px;

}
.weather-output{
    width: 60%;
    position: fixed;
    inset: 0;
    margin-left: 40%;
    padding: 2rem;
    background: #f6f6f6;
    overflow: auto;
}
.Highlights{
    /* because we're going to show in rows and column */

    display: grid; 
    grid-template-columns: repeat(3, 350px);
    grid-auto-flow: row;
    row-gap: 1rem;
    column-gap: 10px;
}
.Highlights div{
    height: 200px;
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #78c1f3;
    border-radius: 20px;
    padding: 1rem;

}
.Highlights i{
    font-size: 45px;
}
.Sun span{
    align-items: center;
    display: flex;
    gap: 10px;
    
}



