.header-wrapper{
    /* this just makes sense because mobile device are not as it is going to exceed 980 pixels.. */
    width: 100%;
}
.nav-bar{
   /* on the nav bar i just want to hide this nav-bar */
    display: none;
}
.hero-image{
    background-repeat: repeat;
    background-size: cover;

}
.author-name{
    font-weight: 500;
}
.hero-section{
    position: static;

}
.hero-description{
    width: 80%;
}